{:deps {gatz/tasks {:local/root "tasks"}}
 :tasks {:requires ([babashka.fs :as fs])

         ;; Used only in local development.
         dev              com.biffweb.tasks/dev
         format           com.biffweb.tasks/format
         clean            com.biffweb.tasks/clean
         generate-secrets com.biffweb.tasks/generate-secrets
         hello            gatz.tasks/hello

         ;; Build
         build {:doc  "Build deployable jar file for this project"
                :task (let [params (format "-X:jar :jar %s :group-id %s :artifact-id %s :version '\"%s\"'"
                                           "gatz"
                                           "gaz"
                                           "gatz"
                                           "0")]
                        (fs/create-dirs "target")
                        (clojure params))}

         ;; Used for interacting with production.
         deploy           com.biffweb.tasks/deploy
         soft-deploy      com.biffweb.tasks/soft-deploy
         refresh          com.biffweb.tasks/refresh
         restart          com.biffweb.tasks/restart
         logs             com.biffweb.tasks/logs
         prod-repl        com.biffweb.tasks/prod-repl
         prod-dev         com.biffweb.tasks/prod-dev

         ;; Internal tasks called by Biff in production.
         post-receive     com.biffweb.tasks/post-receive
         run-cmd          com.biffweb.tasks/run-cmd}}
