;; vim: ft=clojure
{:prod {:biff.xtdb/dir "storage/xtdb"
        :biff.xtdb/topology :jdbc 
        ;; TODO: set up heroku
        :biff.xtdb.jdbc/dbtype "postgresql"
        :biff.xtdb.jdbc/jdbcUrl "DATABASE_URL"
        :biff.xtdb.jdbc/password "JDBC_PASSWORD"

        :biff/base-url "http://gatz.chat"
        ;; Postmark is used to send email sign-in links. Create an account at
        ;; https://postmarkapp.com
        :postmark/api-key "POSTMARK_API_KEY"
        ;; Change to the address of your sending identity. Set a reply-to
        ;; address on your sending identity if you want to receive replies and
        ;; your from address isn't configured for receiving.
        :postmark/from "hello@example.com"
        ;; Recaptcha is used to protect your sign-in page. Go to
        ;; https://www.google.com/recaptcha/about/ and add a site. Select v2
        ;; invisible. Add localhost to your list of allowed domains.
        :recaptcha/site-key nil
        :recaptcha/secret-key "RECAPTCHA_SECRET_KEY"
        :biff.beholder/enabled false
        :biff.middleware/cookie-secret "COOKIE_SECRET"
        :biff/port "PORT"
        :biff/host "0.0.0.0"
        :biff/jwt-secret "JWT_SECRET"}
 :dev {:merge [:prod]
       :biff.beholder/enabled true
       :biff/base-url "http://localhost:8080"
       :biff/host "0.0.0.0"
       :biff.middleware/secure false

       ;; :biff.xtdb.jdbc/dbtype "postgresql"
       ;; :biff.xtdb.jdbc/dbname "gatz_dev"
       ;; :biff.xtdb.jdbc/host "127.0.0.1"
       ;; :biff.xtdb.jdbc/port 5432
      ;;  :biff.xtdb.jdbc/jdbcUrl "jdbc:postgresql://localhost:5432/gatz_dev"
       ;; TODO: make a special gatz user
      ;; :biff.xtdb.jdbc/user "bensu"
       }
 :tasks {;; Set this if the auto-detection doesn't work
         ;; Possible values: macos-x64, macos-arm64, linux-x64, linux-arm64
         :biff.tasks/tailwind-build nil
         :biff.tasks/clj-args ["-J-XX:-OmitStackTraceInFastThrow"
                               "-J-XX:+CrashOnOutOfMemoryError"
                               "-J-Duser.timezone=UTC"
                               "-M" "-m" "gatz.system"
                               "--port" "7888"
                               "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]
         :biff.tasks/on-soft-deploy "\"(gatz/on-save @gatz/system)\""
         ;; Replace "master" with e.g. "main:master" or "dev:master" if you
         ;; want to deploy a different branch, for example:
         ;:biff.tasks/deploy-cmd ["git" "push" "prod" "main:master"]
         :biff.tasks/deploy-cmd ["git" "push" "prod" "master"]
         :biff.tasks/server "example.com"}}
