;; vim: ft=clojure
{:prod {:env :env/prod
        :biff.xtdb/dir "storage/xtdb"
        :biff.xtdb/topology :jdbc 
        ;; TODO: set up heroku
        :biff.xtdb.jdbc/dbtype "postgresql"
        :biff.xtdb.jdbc/jdbcUrl "DATABASE_URL"
        ;; Local jars will use this too
        :biff.xtdb/checkpointer :biff.xtdb.checkpointer/s3
        :biff.xtdb.checkpointer/bucket "XTDB_CHECKPOINTS_S3_BUCKET"
        ;; :biff.xtdb.jdbc/password "JDBC_PASSWORD"

        :twilio/verify-service "TWILIO_VERIFY_SERVICE"
        :twilio/sid "TWILIO_SID"
        :twilio/auth-token "TWILIO_AUTH_TOKEN"

        :gatz.auth/jwt-secret-old "GATZ_JWT_SECRET_OLD"
        :gatz.auth/jwt-secret "GATZ_JWT_SECRET"

        :posthog/api_key "phc_abqkICUI7qZDw1rNLR53fB8uC41kOOjKWfE54NfoHus"
        :posthog/host "https://us.i.posthog.com"
        :posthog/enabled? true

        :expo/push-token "EXPO_PUSH_NOTIFICATION_TOKEN"
        :expo/enabled? true

        :s3/origin "CLOUDFLARE_R2_ENDPOINT"
        :s3/bucket "CLOUDFLARE_R2_BUCKET"
        :s3/secret-key "CLOUDFLARE_R2_SECRET_ACCESS_KEY"
        :s3/access-key "CLOUDFLARE_R2_ACCESS_KEY_ID"

        :s3/asset-path "CLOUDFLARE_R2_ASSET_DOMAIN"

        :heroku/dyno-name "DYNO"

        :biff/base-url "http://gatz.chat"
        ;; Postmark is used to send email sign-in links. Create an account at
        ;; https://postmarkapp.com
        :postmark/api-key "POSTMARK_API_KEY"
        ;; Change to the address of your sending identity. Set a reply-to
        ;; address on your sending identity if you want to receive replies and
        ;; your from address isn't configured for receiving.
        :postmark/from "hello@example.com"
        ;; Recaptcha is used to protect your sign-in page. Go to
        ;; https://www.google.com/recaptcha/about/ and add a site. Select v2
        ;; invisible. Add localhost to your list of allowed domains.
        :recaptcha/site-key nil
        :recaptcha/secret-key "RECAPTCHA_SECRET_KEY"
        :biff.beholder/enabled false
        :biff.middleware/cookie-secret "COOKIE_SECRET"
        :biff/port "PORT"
        :biff/host "0.0.0.0"
        :biff/jwt-secret "JWT_SECRET"}
 :dev {:merge [:prod]
       :env :env/dev
       :biff.beholder/enabled true
       :biff/base-url "http://localhost:8080"
       :biff/host "0.0.0.0"
       :biff.middleware/secure false

       :expo/enabled? false

       :biff.xtdb/checkpointer :biff.xtdb.checkpointer/file
       :posthog/enabled? false
       ;; To use S3 uncomment these two lines

      ;; :biff.xtdb/checkpointer :biff.xtdb.checkpointer/s3
      ;;  :biff.xtdb.checkpointer/bucket "XTDB_CHECKPOINTS_S3_BUCKET"

       ;; :biff.xtdb.jdbc/dbtype "postgresql"
       ;; :biff.xtdb.jdbc/dbname "gatz_dev"
       ;; :biff.xtdb.jdbc/host "127.0.0.1"
       ;; :biff.xtdb.jdbc/port 5432
      ;;  :biff.xtdb.jdbc/jdbcUrl "jdbc:postgresql://localhost:5432/gatz_dev"
       ;; TODO: make a special gatz user
      ;; :biff.xtdb.jdbc/user "bensu"
       }
 :tasks {;; Set this if the auto-detection doesn't work
         ;; Possible values: macos-x64, macos-arm64, linux-x64, linux-arm64
         :biff.tasks/tailwind-build nil
         :biff.tasks/clj-args ["-J-XX:-OmitStackTraceInFastThrow"
                               "-J-XX:+CrashOnOutOfMemoryError"
                               "-J-Duser.timezone=UTC"
                               "-M" "-m" "gatz.system"
                               "--port" "7888"
                               "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]
         :biff.tasks/on-soft-deploy "\"(gatz/on-save @gatz/system)\""
         ;; Replace "master" with e.g. "main:master" or "dev:master" if you
         ;; want to deploy a different branch, for example:
         ;:biff.tasks/deploy-cmd ["git" "push" "prod" "main:master"]
         :biff.tasks/deploy-cmd ["git" "push" "prod" "master"]
         :biff.tasks/server "example.com"}}
