{:paths ["src" "resources" "target/resources" "tasks/src"]
 :aliases {:build {:ns-default gatz.tasks
                   :paths ["tasks/src"]
                   :deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}}}
 :deps {com.biffweb/biff {:git/url "https://github.com/jacobobryant/biff", :sha "3ff1256dde3ca0a99c2dc3797cdea89503ce0fae", :tag "v0.7.4"}
        com.xtdb/xtdb-jdbc {:mvn/version "1.24.3"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        remus/remus {:mvn/version "0.2.2"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        org.jsoup/jsoup {:mvn/version "1.11.3"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.0-alpha5"}}}
