{:deps {:aliases [:cljs]}
 :builds {:test {:target :node-test
                 :output-to "target/test/test.js"
                 :autorun true}
          :expo {:target :npm-module
                 :entries [gatz.expo.core]
                 :output-dir "npm-package/dist"
                 :compiler-options {:optimizations :simple}
                 :js-options {:js-provider :shadow
                              :keep-native-requires true
                              :keep-as-require #{"react-native"}}}}} 