# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
coverage/
tmp/

.stryker-tmp/
reports/

# Expo
.expo/
dist/
web-build/

.wrangler/tmp

# Native
builds/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa

credentials.json
certs/

ios/
android/

google-services.json
config/*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.lsp/
.env.local

.clj-kondo/
